.overlay {
    display: none;
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background: #F2F2F2;
    padding: 34px 39px 39px 39px;
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 41px;
        line-height: 21px;
        color: $main-color;
        cursor: pointer;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        color: #0D0D0D;
        margin-bottom: 8px;
    }
    &__descr {
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #0D0D0D;
    }
    &_mini {
        min-height: 143px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        font-size: 14px;
        color: $main-color;
    }
}
#callback, #calculation, #thanks {
    display: none;
}